.todo {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
}

nav {
    text-align: center;
}

.container {
    width: 100%;
    max-width: 600px;
}

form {
    margin: 0 auto;
}

button {
    margin-top: 10px;
}

#resultado {
    text-align: center;
}

footer {
    text-align: center;
}