.todo{
    background-color: darkslateblue;
}
.titulo{
    background-color: rebeccapurple;
    width: 50%;
    height: 60px;
}
.subtitulo{
    background-color: darkorchid;
    width: 70%;
    height: 60px;
}
.foto-logo{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-block;
}
#navbarTogglerDemo01{
    background-color: yellow;
}
footer{
    background-color: steelblue;
    width: 80%;
    height: 150px;
}
.gptlink{
    color: yellow;
}
.acordeon{
    background-color: yellow;
    cursor: pointer;
    padding: 20px;
    width: 90%;
    text-align: left;
    outline: none;
    font-size: 16px;
}
.active, .acordeon:hover{
    background-color: orange;
}
.panel{
    padding: 0px 20px;
    display: none;
    background-color: goldenrod;
    overflow: hidden;
    width: 80%;
}