<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <link rel="stylesheet" href="{% static 'usuario/CSS/estilos_2.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
</head>
<body>
    {% block contenido %}
    {% endblock %}
      <script src="{% static 'usuario/js/validador_2.js' %}"></script>
</body>
</html>