{% extends 'usuario/base.html' %}

{% block contenido %}

<header></header>
    <form id="login-form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
        <input type="submit" value="Iniciar sesión">
        
        <p class="form-links">¿No tienes una cuenta? <a href="{% url 'crear' %}">Crear usuario</a></p>
        <p class="form-links"><a href="{% url 'home' %}">Volver</a></p>
        <a href="{% url 'visualizacion' %}">Iniciar sin Cuenta</a>
      </form> 

{% endblock %}