{% extends 'ia/base.html' %}

{% block contenido %}

<div class="d-flex flex-grow-1 justify-content-center align-items-center">
    <div class="container">
        <p>IA multifuncional Sox 0.3</p>
        <p>(Escriba help para ver el manual de usuario)</p>
        <!-- <p>cierre modulo IA si deceas cambiar de pagina</p>  -->
        <form class="bg-light p-3 rounded" id="formulario">
            <label for="campoTexto">Texto de entrada:</label>
            <input type="text" id="campoTexto" name="texto" required>
            <button id="btnEnviar">Enviar</button>
        </form>
        <div id="resultadoDiv"></div>
        <!-- <div id="console"></div> -->
        <form class="bg-light p-3 rounded">
            <div class="form-group">
                <label for="palabra">Diccionario</label>
                <input type="text" class="form-control" id="palabra" placeholder="Ingrese palabra" pattern="[A-Za-z]+" required>
            </div>
            <button type="submit" id="enviar" class="btn btn-primary">Enviar</button>
        </form>
        <div id="resultado" class="mt-3"></div>
    </div>
</div>
<footer class="bg-secondary text-white p-2 mt-auto">
    <a href="{% url 'feedback' %}" class="text-white">Dejar Feedback</a>
</footer>

{% endblock %}